.AboutInformation {
    background-image: url(../../../../public/images/about-image.png);
    padding: 8.75rem;
    background-size: cover;
    background-position: right center;
    border-radius: 1.625rem;
}

#About h2 {
    margin: 2.75rem 0;
}

.AboutInformation ul {
    background-color: #FFFFFFb3;
    list-style-type: none;
    padding: 2.5rem 1.375rem 2.5rem 2.5rem;
    width: 42.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-radius: 1.625rem;
}

#About h4 {
    margin: 0 0 0.25rem 0;
}

#About p {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .AboutInformation {
        padding: 30px;
        border-radius: 0;
        margin: 0 -2rem;
        background-position: right 32% center;
    }

    .AboutInformation ul {
        padding: 2.5rem 1.375rem 2.5rem 2.5rem;
        width: auto;
        gap: 22px;
        border-radius: 1.625rem;
    }
}