.PropertyCard {
    display: flex;
    flex-direction: column;
}

.PropertyCardWrapper  {
    position: relative;
}

.favoriteBTN {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.favoriteBTN svg {
    width: 1.5rem;
    height: 1.5rem;
}

.favoriteBTN .filled {
    display: none
}