.Header {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 33px;
  padding: 37px 130px;
}

#countrySelect {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  position: relative;
}

.countryDropdown {
  position: absolute;
}

.countryOption {
  margin: 0.5625rem 0;
  cursor: pointer;
}

.countryOption.selected {
  display: none;
}

#countrySelect img {
  height: 100%;
}

.dropdownArrow {
  transition: 0.1s;
}

.dropdownArrow.open {
  transform: rotate(180deg);
}

.countrySelected {
  display: flex;
  gap: 0.4375rem;
  align-items: center;
  cursor: pointer;
}


.Header>nav {
  display: flex;
  gap: 4.375rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
}

.Header a {
  color: #000000;
  cursor: pointer;
}


.Header a:hover {
  color: var(--blue-color);
}

.appBTN {
  border: 0.0625rem solid var(--gray-stroke);
  border-radius: 1.25rem;
  padding: 0.75rem 2.5rem;
  color: #205BE3;
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.appBTN:hover {
  background-color: var(--blue-color-hover);
  border: 0.0625rem solid #00000000;
}

.Header .signInBTN {
  border: 0.0625rem solid var(--gray-stroke);
}

.signInDropdown {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3.125rem 1.375rem;
}

.signInDropdown h4 {
  font-family: "Inter", sans-serif;
  padding: 0.35em 1.35em;
}