.SignInBanner {
    background-color: #C7D2FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 2.5rem;
    border-radius: 1.25rem;
    font-family: "IBM Plex Sans", sans-serif;
}

.bannerWrapper {
    display: flex;
    align-items: baseline;
    gap: 2.375rem;
}

.SignInBanner img {
    width: 8.75rem;
}

.SignInBanner h3 {
    font-size: 1.875rem;
    font-weight: 600;
    margin: 0;
}

.SignInBanner .signInBTN {
    background-color: #000080;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 1.5rem;
}